.dragdrophai{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}
.draghai{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
}
.boardhai{
    border: 3px solid black;
    border-radius: 30px;
    height: 35rem;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;

}