.cardhai{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  /* width: 100rem; */
  margin: auto;
  /* border: 1rem solid black; */
}
.card{
  margin: 2rem;
}
.card-title{
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}