.niche{
    display: flex;
    height: 3rem;
    width: 100%;
    margin: 0.2rem 1rem;
    position: absolute;
    bottom: 30px;
}
.chat{
    padding: 1rem;
}
/* .niche .inputdaal{
    width: 82%;
    padding: 20px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}
.submitkro{
    background-color: rgb(53, 53, 241);
    border-radius: 10px;
    width: 5rem;
    margin-left: 1rem;

} */
.kilo{
    height: 2rem;
    width: 2rem;
}
.chatwala{
    border: .1rem solid white;
    height: 80vh;
    margin-top:2rem ;
    width: 70vw;
    border-radius: 2rem;
    margin-left: 2rem;
}
.textarea{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}
.form-control{
    background-color: white;
    border-radius: 20px;
    height: 4rem;

}